.Dictionary h1 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  text-align: center;
  background: #ffffffe1;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #000000;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  color: #000000;
  font-size: 11px;
  margin-top: 5px;
}
