.Meaning h3 {
  text-transform: capitalize;
  padding-top: 5px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  color: #000000a6;
  font-style: italic;
  margin-top: 10px;
}
