.Phonetic {
  margin: 0 auto;
  color: #aeaeac;
}

.Phonetic a i {
  padding: 8px 15px;
  font-size: 35px;
  margin: 30px 0 30px 0;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  color: #eb550f56;
}

.Phonetic i:hover {
  color: #ffffffe1;
}

.Phonetic .text {
  font-size: 40px;
  opacity: 0.5;
  font-weight: bold;
}
