.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #402d25;
  border-radius: 50%;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin: 30px 0 30px 0;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #ebdcd9;
  color: #ebdcd9;
}

.Phonetic .text {
  font-size: 20px;
  opacity: 0.5;
  font-weight: bold;
}
