.Synonyms {
  margin: 15px 0 0;
  padding: 0;
  font-size: 13px;
  font-weight: 450;
}

.Synonyms li {
  text-transform: capitalize;
  color: #0000007e;
  font-size: 11px;
  display: inline-block;
  padding: 10px 10px 0 0;
  line-height: 1;
}
